<h2>WELCOME </h2>

<ul>
<% @images.each do |image| %>
  <li><a href="/images/<%= image.id %>"><%= image.name %></a></li>
  <li><%= image.year_completed %></li>
<% end %>
</ul>


<a class="button" href="/">Home</a>
<a class="button" href="/users">Users</a>
<a class="button" href="/show">Images</a>