<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>See Image</h1>
         <%= @image.url %>
         <img src="/<%= @image.url %>" />
    </body>
</html>


<!--
<progress value="70" max="100">70 %</progress>
-->